*{
    margin: 0px;
    padding: 0px;
    border: 0px;

    text-decoration: none;
    color: black;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
}

.bg{
    background-image: linear-gradient(-45deg, rgba(76, 24, 87, .9), rgba(0, 140, 255, .8)), url("img/2up.jpg");
    filter: blur(15px);
    width: 100%;
    height: 100vh;

    transform: scale(1.1);

    position: fixed;

    z-index: -1000;
}

nav{
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 15px;
    z-index: 10000;

    display: flex;
    justify-content: center;

    background-color: rgba(255, 0, 0, 0);
}

nav ul{
    width: 75%;
    height: 50px;

    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul li{
    height: 100%;
    
    display: flex;
    align-items: center;

    gap: 35px;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
}

nav ul li:nth-child(1) a:nth-child(1){
    display: none;
}

nav ul li:nth-child(1) a:nth-child(2){
    margin-left: 35px;
}

nav ul li:nth-child(2){
    height: 80%;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    margin-right: 5px;

    padding: 0px 25px;

    border-radius: 100px;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.cs{
    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: fixed;

    display: none;

}

.cs h1{
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

    font-size: 7vw;
}

.cs h2{
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;

    font-size: 4vw;
}

.menu{
    width: 50%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 200px;
}

.menu ul{
    width: 90%;
    padding: 25px;
    background-color: rgba(102, 51, 153, 0);
}

.menu ul li{
    color: white;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;

    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.menu ul h1{
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

    padding-top: 30px;
    margin-left: -5px;

    font-size: 3vw;
}

.menu ul h1:nth-child(1){
    padding-top: 0px;
}

.menu ul li h2{
    color: white;
    font-weight: 300;
}

.menu ul li h3{
    color: white;
}

.cocktail{
    background-color: rgba(0, 217, 255, 0.5);
    background-image: linear-gradient(50deg, rgba(0, 217, 255, 0.5), rgba(150, 0, 187, 0.6), rgba(0, 217, 255, 0.5));
    border-radius: 15px;

    background-size: 200%;

    border: 1px solid rgba(255, 255, 255, 0.3);

    animation-name: grd;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    cursor: pointer;
}


@keyframes grd{
    0%{
        background-position-x: 0px;
    }

    50%{
        background-position-x: -300px;
    }

    100%{
        background-position-x: 0px;
    }
}


.cocktail p{
    padding: 10px 25px;
    color: white;
    text-transform: capitalize;

    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.turn-phone{
    position: fixed;
    width: 100%;
    height: 100%;

    z-index: 1000000;

    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    display: none;
}

.turn-phone h1{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

.turn-phone i{
    color: white;
    font-size: 50px;
} 


.wheel{
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.wheel ul{
    width: 50%;
    height: 70%;

    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    display: flex;
    flex-direction: column;
}

.wheel ul li:nth-child(1){
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wheel ul li:nth-child(1) div{
    width: 30vw;
    height: 30vw;

    background-color: white;

    border-radius: 50%;
}

.wheel ul li:nth-child(2){
    height: min-content;
}

.wheel-back{
    width: min-content;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.25);

    margin: 5px;

    cursor: pointer;
}

.wheel-back p{
    color: rgba(255, 255, 255, 1);
    padding: 5px 25px;

    font-size: 20px;
}

#hide{
    display: none;
}

@media (orientation: landscape) and (max-width: 1300px){
    .turn-phone{
        display:inherit;
    }

    nav{
        display: none;
    }

    .bg{
        display: none;
    }

    .manu{
        display: none;
    }

    .cs{
        display: none;
    }
}

@media (max-width: 500px){
    nav{
        width: 100%;
        bottom: 10px;
    }

    nav ul{
        width: 95%;
        border-radius: 10px;
        overflow-x: scroll;

        background-color: rgba(0, 0, 0, 0.65);
    }

    nav ul li{
    }

    nav ul li a{
        width: max-content;
    }

    nav ul li:nth-child(1) a:nth-child(2){
        margin-left: 25px;
    }

    nav ul li:nth-child(2){
        width: max-content;
    
        border-radius: 10px;

        margin-left: 25px;

        padding: 0px;
    }

    nav ul li:nth-child(2) a{
        width: max-content;
        padding: 0px 20px;
    }

    nav ul li:nth-child(3) p{
        color: transparent;
    }

    .menu{
        width: 95%;
        height: 100vh;

        padding-bottom: 300px;
    }

    .menu ul li h1{
        font-size: 20px;
    }
    
    .menu ul li h2{
        font-size: 20px;
    }
    
    .menu ul h1{
    
        font-size: 13vw;
    }

    .menu ul{
        width: 90%;
    }

    .menu div{
        
    }

    .wheel{

    }

    .wheel ul{
        width: 90%;
        height: 60%;
    }

    .wheel li:nth-child(1) section{
        font-size: 5vw;
    
        padding-bottom: 5px;
    }

    .wheel li:nth-child(1) section h2{
        color: white;
        text-transform: capitalize;
    
        font-weight: 500;
    
        margin-left: 5px;
    }

    .wheel ul li:nth-child(1) div{
        width: 280px;
        height: 280px;
    
        background-color: white;
    
        border-radius: 50%;
    }
}
